* {
    box-sizing:border-box; 
    margin: 0; 
    padding: 0;
    background-color:#24252A;
}
html{
    height: 100%;
}

.icon{
    cursor: pointer;
    margin-right: auto;
}

header{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 30px 10%;
    background-color: green;
}

li, a {
    font-family: "Montserrat", sans-serif; 
    font-weight:500;
    font-size: 16px; 
    color: #edf0f1; 
    text-decoration: none;
}
nav{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

li{
    display: inline-block;
    padding: 0px 20px;
}

li a{
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;

}
li a:hover{
    color: blue;
}


.sidebar{
    position: fixed;
    top: 0;
    right:0;
    height: 100vh;
    width:250px;
    z-index: 999;
    background-color: #edf0f145;
    backdrop-filter: blur(20px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width:100%;

}
.sidebar a{
    width: 100%;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}
  
.burger input {
    display: none;
}
        
.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: whitesmoke;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
        
.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}